.row01 {
  padding: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
}

.buttons-row01 {
  width: 38%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-row01 label {
  color: black;
  font-size: 15px;
  cursor: pointer;
}

.buttons-row01 input {
  width: 50px;
  cursor: pointer;
}

.btnLimparFiltros {
  font: 20px;

  border: none;
  padding: 5px 15px;
  border-radius: 10px;

  cursor: pointer;

  transition: 1s;
}

.btnLimparFiltros:hover {
  background-color: #32bcad;
}

.falha {
  height: 60vh;
}
.calendario {
  display: flex;
  flex-direction: column;

  height: 50%;
  height: 40vh;
}

.diasDaSemana {
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-bottom: #32bcad;
  border-radius: 10px 10px 0px 0px;
  justify-content: space-around;
}

.diaDoCalendario {
  min-width: 14.2%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 10px 0px;

  border-radius: 50px;
}

.dias {
  display: flex;
  flex-wrap: wrap;
  border-radius: 0 0 10px 10px;
  border: 1px solid #000;
  border-top: #32bcad;
}
.mes {
  padding-left: 10px;
}

.vazio {
  background-color: transparent;
}

.card_da_linha03 {
  display: flex;
  justify-content: space-evenly;
}

/*  Da v2 */

.row {
  margin-bottom: 30px;
}

select {
  width: 15rem;
  min-width: 10rem;

  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  outline: 0;

  background-color: transparent;

  height: 30px;
  font-size: 14px;
  padding: 5px;
  padding-left: 10px;

  margin-left: 25px;
}

.cards_da_linha_02 {
  height: 80px;
}

#recomendacoesHTML {
  height: 200px;
}

.texto_card_l3 {
  width: auto;
}

.icone {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  text-align: center;
}

.futurasTransacoes {
  background-color: #32bcad;

  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.futurasQuedas {
  background-color: #ff6a00;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.card_da_linha04 {
  height: 360px;
}

@media (max-width: 990px) {
  .row01 {
    align-items: flex-start;

    flex-direction: column;
  }

  .buttons-row01 {
    width: 100%;
    margin-top: 15px;
    flex-wrap: nowrap;
    padding: 25px;
  }

  .header-dash {
    width: 100%;
  }
}

@media (max-width: 545px) {
  .header-dash {
    flex-wrap: wrap;
  }

  .header-dash select {
    margin-bottom: 15px;
  }
}
