.row01 {
  margin-bottom: 30px;
  padding-right: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-row01 {
  width: 38%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-row01 label {
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.buttons-row01 input {
  width: 50px;
  cursor: pointer;
}

.btnLimparFiltros {
  font: 20px;

  border: none;
  padding: 5px 15px;
  border-radius: 10px;

  cursor: pointer;

  transition: 1s;
}

.btnLimparFiltros:hover {
  background-color: #32bcad;
}
