*{
    font-family: 'Arial';
}

body, html{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 90%;
}

.btn{
    padding: .4rem;
    width: 7.5rem;
    height: 3rem;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.btn-entrar{
    background-color: #32BCAD;
    border: none;
    color: #f5f5f5;
    transition: .5s;
}

.btn-entrar:hover{
    background-color: #279487;
    transition: .5s;
}


/* Main */

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url(../img/Image/fundo-cadastro-empresa.jpeg);
    background-position: center;
}

main .container{
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.form-area{
    width: 80%;
    height: 85%;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f0f0f0;
    box-shadow: -.4rem -.3rem .5rem gray;
}

.info-block{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-line{
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-around;
    align-items: end;
}

.info-line h4{
    padding: 0;
    margin-bottom: .3rem;
    font-weight: 600;
}

.input-block{
    width: 45%;
}

.input-block input{
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
    padding-left: .5rem;
    border:1px solid #279487;
    border-left: 15px solid #279487;
}

.block-title{
    width: 90%;
    height: 1.5rem;
    display: flex;
    align-items: center;
}

.block-title h4{
    font-size: 20px;
    font-weight: bold;
}

.enterprise-info-block{
    height:40%;
}

.admin-info-block{
    height: 25%;
}

.button-block{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-enviar{
    width: 30%;
    background-color: #32BCAD;
    border: none;
    color: #f5f5f5;
    transition: .5s;
}

.btn-enviar:hover{
    background-color: #279487;
    transition: .5s;
}

/* Div Mensagem */

.div-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
}

