/*Formatação da navbar*/
/* Cor de fundo rgb(241, 241, 241) */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

html{    
    background-color: white;
}

body{
    margin: 0%;
}

.banner1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/banner1.png);
    width: 100%;
    height: 55vh;
    background-size:cover;
    border-bottom: 1vh solid white;
    border-top: 1vh solid white;
}

.banner1 img{
    width: 6vw;
}

.banner1 .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner1_infocard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c4c4c4ad;
    backdrop-filter: blur(5px);
    width: 95%;
    height: 35vh;
    border-radius: 2vh 2vh 2vh;
}

.banner1_textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner1_img{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}

.banner1_infocard h1{
    font-family: 'Lalezar';
    font-size: 6vw;
}

.banner1_infocard span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    font-weight: 100;
}

.produtos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E4F1F1;
    width: 100%;
    height: fit-content;
    background-size:cover;
    border-bottom: 1vh solid white;
    border-top: 1vh solid white;
}

.produtos img{
    width: 7vw;
}

.produtos h1{
    font-family: 'Lalezar';
    margin: 0px;
    font-size: 4vw
}

.produtos span{
    font-family: 'IBM Plex Sans Hebrew';
    font-size: 3vw;
    text-align: center;
    margin-bottom: 3vh;
}
.produtos img{
    margin-top: 1vh;
}

.beneficios_superiores{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content:space-around;
}

.beneficios{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.beneficios span{
    font-family: 'IBM Plex Sans Hebrew';
    font-size: 3vw;
    text-align: center;
}

.titulo_ben{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lalezar';
    width: 100%;
    background-color: #00A9AF;
    height: 5vh;
    border-radius: 1vh 1vh 1vh;
}

.beneficios_inferiores{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content:space-around;
}

.banner2{
    background-image: url(../img/banner2.png);
    width: 100%;
    height: fit-content;
    background-size:cover;
    border-bottom: 1vh solid white;
    border-top: 1vh solid white;
}

.banner2 .container{
    display: flex;
    justify-content: right;
    align-items: center;
}

.banner2_infocard{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    text-align: right;
}

.banner2_infocard h1{
    font-family: 'Lalezar';
    font-size: 7vw;
}

.banner2_infocard span{
    font-family: 'IBM Plex Sans Hebrew';
    font-size: 5vw;
    text-align: right;
}

.banner2_infocard .banner2_1{
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-family: 'Lalezar';
    font-size: 3.8vw;
    width: 70%;
    height: 5vh;
    border: none;
    border-radius: 1vh 1vh 1vh;
    background-color: #00A9AF;

}
.banner2_infocard .banner2_2{
    font-family: 'Lalezar';
    font-size: 3.8vw;
    width: 70%;
    height: 5vh;
    border: none;
    border-radius: 1vh 1vh 1vh;
    background-color: #13D4DB;
}

.sobre_nos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12vh;
    background-color: #E4F1F1;
    width: 100%;
    height: fit-content;
    background-size:cover;
    border-bottom: 1vh solid #A0C5C7;
    border-top: 1vh solid white;
}

.sobre_nos .container{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: right;
    width: 90%;
    height: 90%;
}

.sobre_nos_tit{
    font-family: 'Lalezar';
    font-size: 4vw;
}

.sobre_infocard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre_valores{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.valores{
    width: 27%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valores img{
    width: 40%;
}

.valores h1{
    font-family: 'Lalezar';
    font-size: 4vw;
}

.valores span{
    font-family: 'IBM Plex Sans Hebrew';
    font-size: 2.9vw;
    text-align: center;
}

.sobre_buttons{
    width: 100%;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sobre_buttons_1{
    margin-right: 3vw;
    font-family: 'Lalezar';
    font-size: 5vw;
    width: 60%;
    height: 5vh;
    border: none;
    border-radius: 1vh 1vh 1vh;
    background-color: #13D4DB;
}

.sobre_buttons_2{
    font-family: 'Lalezar';
    font-size: 5vw;
    width: 40%;
    height: 5vh;
    border: none;
    border-radius: 1vh 1vh 1vh;
    background-color: #00A9AF;
}