html{
    overflow-x:hidden;
}

body{
    margin: 0%;
}

.header {
    display: flex;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    font-family: 'Lalezar';
    font-size: 3vh;
}

.header a{
    font-family: 'Lalezar';
    font-size: 3vh;
    color: black;
    text-decoration: none;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.esquerda_header{
    display: flex;
    justify-content: center;   
}

.logo{
    height: 12vh;
}

.header .container {
    justify-content: space-between;
    align-items: center;
}

.direita_header{
    width: 34vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linka{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 8.5vw;
}

.linka:hover{
    background-color: rgb(111, 167, 167);
    border-radius: 5vh 5vh 5vh;    
}

.conta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.nome_usuario{
    font-size: 2.9vh;
    font-family: 'IBM Plex Sans Hebrew';
}

.imagem_usuario{
    height: 4vh;
    font-family: sans;
}

.login_cliente {
    font-size: '2vh';
}

.links_navbar{
    display: flex;
    justify-content: center;
}

hr{
    border: 1px solid black;
    width: 38vw;
}

li{
    font-family: 'Fraunces', serif;
    font-size:3vh;
    margin-left: 2vh;
}

ul {
    display: flex;
    gap: 1vw;
    list-style-type: none;
}





.footer {
    display: flex;
    width: 100%;
    height: 20vh;
    background-color: #A0C5C7;
}

.direita_footer img{
    width: 3vw;
}

.footer .container{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.direita_footer{
    width: 10vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content:start;
}


.direita_footer span{
    font-family: 'IBM Plex Sans Hebrew';
    font-size: 2.2vh;
    text-align: center;
}